body {
    margin: 0px;
    font-family: 'Playfair Display', serif;
}

#wrapper {
    margin: 20px;
    padding: 25px;
    border: solid rgb(92, 84, 84) 2px;
    border-radius: 5px;
    background-color: rgb(189, 186, 186);
}

#form {
    display: flex;
    filter: drop-shadow(5px 5px 5px rgb(112, 112, 112));
}

header {
    font-size: larger;
    font-weight: bold;
}

.course > h3 {
    font-size: large;
    color: gray;
}

form {
    background-color: rgb(230, 228, 228);
    padding: 5px;
    border-radius: 5px;
    border: solid 2px rgb(92, 84, 84);
    font-size: larger;
}

#result {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px rgb(92, 84, 84);
    background-color: rgb(224, 224, 224);
    filter: drop-shadow(5px 5px 5px rgb(112, 112, 112));
}

.courses {
    display: flex;
    flex-wrap: wrap;
    
}

.container {
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
<<<<<<< Updated upstream
=======
    margin: 10px;
    background-color: white;
>>>>>>> Stashed changes
}

.done {
    background-color: rgb(156, 226, 156);
}

.courses > div {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 5px;
    margin: 2px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.courses > div > h4 {
    margin: 0px;
    padding: 0px;
}

.courses > div > p {
    margin: 5px;
    padding: 0px;
}

.not-done{
    background-color: rgb(224, 224, 224);
    color: rgb(104, 104, 104);
}